html {
    background-color: black;
    color: wheat;
}

body {
    min-height: 100vh;
    background-color: black;
    margin: 1em auto;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 6% 14% 80%
}

.infoColumn {
    max-height: 100vh;
    overflow: scroll;
    font-size: 10px;
}

.paletteColumn {
    max-height: 100vh;
    overflow: scroll;
}

.inputsColumn {
    max-height: 100vh;
    overflow: scroll;
}
.canvasColumn {
    max-height: 100vh;
    overflow: scroll;
}

label {
    display: block;
}

input.invalid {
    background-color: palevioletred;
}
